@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  }
  
  @keyframes gradient
  {
    0%
    {
      background-position: 0% 50%;
    }
    
    50%
    {
      background-position: 100% 50%;
    }
    
    100%
    {
      background-position: 0% 50%;
    }
  }

  body{
    background: linear-gradient(-46deg,#0059ff, #413f3f88, #000000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    overflow-x: hidden;
    font-family: 'Roboto';
  }

  h2{
      color:snow ;
  }
  h1{
    color:snow ;
}
  